<app-header></app-header>
<section class="row">
    <div class="font-italic text-center">
        <div class="cita-container">
            <p class="cita">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit earum pariatur dolore obcaecati magni rem iste, ex aut
                nobis explicabo voluptas itaque et! Quidem reprehenderit veniam beatae delectus hic, similique.
            </p>
        </div>
        <p class="font-weight-bold">TLC</p>
    </div>
</section>