<header class="container">
  <div class="row">
      <nav class="navbar navbar-dark menu">
          <a class="navbar-brand" href="#"> <img src="../../assets/img/titulo.png" alt=""></a>
          <div class="sub-menu">
            <div class="social">
                <a href=""><i class="fab fa-facebook-f"></i></a>
                <a href=""><i class="fab fa-youtube"></i></a>
                <a href=""><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
                <a href="" class="bold languaje border-r"><i>ESP</i></a>
                <a href="" class="bold languaje"><i>ENG</i></a>
            </div>
            <div class="login">
              <a href="" class="bold border-r">registrarse</a>
              <a href="" class="bold">ingresar</a>
            </div>
            <div class="contact bold">
              0810-555-1234
            </div>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse">
            <span class="navbar-toggler-icon "></span>
          </button>
      </nav>
  </div>  
 
  <div class="row search" >
     <ul class="nav">
         <li class="nav-item">
           <a class="nav-link active" href="#">Hoteles Green Label</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="#">Vuelos</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="#">Actividades</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="#">Paquetes</a>
         </li>
     </ul>
  </div>
  <div class="row">
   <div class="menu-container">
     <select name="" id="">
       <option value="">paquete</option>
       <option value="">paquete</option>
       <option value="">paquete</option>
     </select>
     <div class="date-container">
       <input type="text" placeholder="salida">
       <input type="text" placeholder="llegada">
     </div>
     <input type="text">
     <button class="btn-search">buscar <i class="fa fa-search"></i></button>
   </div>
   
  </div>
</header>