
<app-header-sm></app-header-sm>
<div class="container">
    <div class="row">
        <div class="title rule">	
            <h5>LUXURY GREEN TRIPS</h5>
            <h2 [translate]="'sign-up.title'"></h2> 
        </div>
    </div>
    <p [translate]="'sign-up.subtitle'"></p>
    <div class="underline">
    </div>
    <div class="form-container">
        <form #userRegistrationForm="ngForm">
          <div>
           
                <label [translate]="'sign-up.userName'" class="label"></label>
                <input class="field" type="text" name="userName" #userName="ngModel" [(ngModel)]="user.UserName" required>
            
                <label [translate]="'sign-up.password'" class="label"></label>
                <input class="field" type="password" name="password" #password="ngModel" [(ngModel)]="user.Password" required>
                
                <span class="label" [translate]="'sign-up.email'"></span>
                <input class="field" type="email" name="Email" #email="ngModel" [(ngModel)]="user.Email" required>
            
                <span class="label" [translate]="'sign-up.firstName'"></span>
                <input class="field" type="text" name="FirstName" #firstName="ngModel" [(ngModel)]="user.FirstName">
            
                <span class="label" [translate]="'sign-up.lastName'"></span>
                <input class="field" type="text" name="LastName" #lastName="ngModel" [(ngModel)]="user.LastName">
                
                <span class="terms" [translate]="'sign-up.terms'"> politica</span> 
                
                <input class="btn-send" type="submit" [value]="'sign-up.send' | translate">
          </div>
        </form>
    </div>

    <app-footer-sm></app-footer-sm> 
</div>
