<div class="container">
<app-header-sm>
</app-header-sm>
<section id="contact-form" class="contact-form container">
  <div class="title rule">
    <h5>LUXURY GREEN TRIPS</h5>
    <h2>Contacto</h2>
  </div>
  <p class="form-description">Por favor completa los siguientes campos.</p>
  <form>
    <div class="">
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="chkCodigoOperacion">Código de operación</label>
                <input type="checkbox" class="form-control" id="chkCodigoOperacion">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="txtNumero">Número</label>
                <input type="text" class="form-control" id="txtNumero">
              </div>
            </div>
          </div>
        </div>
        <div class="col"></div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="txtNombre">Nombre</label>
            <input type="text" class="form-control" id="txtNombre" placeholder="Nombre">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="txtApellido">Apellido</label>
            <input type="text" class="form-control" id="txtApellido" placeholder="Apellido">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="txtEmail">Email</label>
            <input type="text" class="form-control" id="txtEmail" placeholder="Email">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="txtConfirmarEmail">Confirmar Email</label>
            <input type="text" class="form-control" id="txtConfirmarEmail" placeholder="Confirmar Email">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="txtCodigoAreaTelefono">Telefono</label>
                <select class="form-control" id="txtCodigoAreaTelefono">
                  <option value="ESP">España (+34)</option>
                </select>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label>&nbsp;</label>
                <input type="text" class="form-control" id="txtCodigoAreaTelefono" placeholder="Cod. Área">
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label>&nbsp;</label>
            <input type="text" class="form-control" id="txtNumeroTelefono" placeholder="Ingrese el número">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="txtCodigoAreaCelular">Celular</label>
                <select class="form-control" id="txtCodigoAreaCelular">
                  <option value="ESP">España (+34)</option>
                </select>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label>&nbsp;</label>
                <input type="text" class="form-control" id="txtCodigoAreaCelular" placeholder="Cod. Área">
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label>&nbsp;</label>
            <input type="text" class="form-control" id="txtNumeroCelular" placeholder="Ingrese el número">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="ddlTipoConsulta">Tipo de Consulta</label>
                <select class="form-control" id="ddlTipoConsulta">
                  <option value="hotel">Hotel</option>
                  <option value="hotel">Vuelo</option>
                  <option value="hotel">Paquetes</option>
                  <option value="hotel">Actividades</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col"></div>
      </div>
      <div class="row">
        <div class="col">
            <div class="form-group">
              <label for="txtConsulta">Consulta</label>
              <textarea class="form-control" id="txtConsulta" rows="5"></textarea>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
            <div class="row">
                <div class="col"> 
                  <button type="submit" class="btn btn-lg btn-success">Enviar</button>
                </div>
                <div class="col"></div>
              </div>  
        </div>
        <div class="col"></div>
      </div>
    </div>
  </form>
</section>
<app-footer-sm></app-footer-sm>
</div>