<div class="container gray-container">

  <div class="sale-container right-photo">
    <div class="left-panel">
        
        <div class="card to-right">
          <span class="card-title">15 dias de Lujo</span>
							<span class="card-hotel">Hotel paraiso XVI</span>
							<span class="card-fecha">salida 25 de Mayo al 10 de junio de 2018</span>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad itaque nulla sint deleniti eum provident porro in odit neque perferendis.</p>
							<div class="buttons-cont">
								<i class="fa fa-share"></i>
								<i class="fa fa-thumb-tack" aria-hidden="true"></i>
								<button><i class="fa fa-plus button-plus"></i></button>
					</div>
        </div>
    </div>
    <div class="right-panel">
        PHOTO
    </div>
  </div>

  <div class="sale-container left-photo">
    <div class="left-panel">
        PHOTO
    </div>
    <div class="right-panel">
        
        <div class="card to-left">
          TEXT
        </div>
    </div>
  </div>

</div>

