<header>
        <div class="bg-sm">
            <div class="bg-left">
            </div>
            <div class="bg-right">
            </div>
            <div class="overlay">
                <div class="left-side float-left">
    
                    <div class="col-container">
                        <img src="../../assets/img/titulo.png" class="img-fluid" width="150px" alt="">
    
                        <ul id="search-menu">
                            <li>
                                <a href="/home/hotel">
    
                                    Hoteles green label
                                </a>
                                <span class="vr">&nbsp;</span>
                            </li>
                            <li>
                                <a href="">Vuelos</a>
                                <span class="vr">&nbsp;</span>
                            </li>
                            <li>
                                <a href="">Actividades</a>
                                <span class="vr">&nbsp;</span>
                            </li>
                            <li>
                                <a href="">Paquetes</a>
                            </li>
                        </ul>
    
                        <input type="text">
                        <input type="text">
                        <input type="text">
    
                    </div>
                    <div class="menu-button" (click)="menu_click()">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                    </div>
    
                </div>
                <div class="right-side  float-left">
                    <div class="contact">
                        <div class="social">
                            <a href="https://facebook.com">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="https://youtube.com">
                                <i class="fab fa-youtube"></i>
                            </a>
                            <a href="https://twitter.com">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="https://instagram.com">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <button (click)="changeLanguage('es')" class="languaje">ESP</button>
                            <button (click)="changeLanguage('en')" class="languaje">ENG</button>
                        </div>
                        <div class="login">
                            <ul id="login-menu">
                                <li>
                                    <a href="">ingresar</a>
                                </li>
                                <li>
                                    <a href="">registrarse</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tel">
                            0800-111-2345
                        </div>
                    </div>
    
    
                    <div class="menu-button" (click)="menu_click()">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="row">
        <div class="col-md-5 frase">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit earum pariatur dolore obcaecati magni rem iste, ex aut
                nobis explicabo voluptas itaque et! Quidem reprehenderit veniam beatae delectus hic, similique.
                <br> -TLC-
            </p>
        </div>
    </section>