
<div class="container">
<app-header-sm></app-header-sm>
<div class="title rule">	
    <h5>ULTIMAS NOTICIAS</h5>
    <h2>Novedades en Canarias</h2> 
</div>



    <section class="row container-offer-der">
        <div class="col-md-6 izq">
          <div class="card" style=" text-align: right; ">
            <p>18 de abril de 2018</p>
            <h2 style="font-style: italic">Los Mejores lugares para visitar en Canarias</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad itaque nulla sint deleniti eum provident porro in odit neque perferendis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, vero? Ducimus facilis totam soluta sequi exercitationem! Facere, iure minima! Tempore veritatis ducimus modi iure doloribus, unde magni dolores non facilis!</p>
            <div class="buttons-cont" style="text-align: right;">
                <i class="fa fa-share"></i>
                <a href="package-detail/1"><i class="fa fa-plus button-plus"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-6 paquete1">
          
        </div>
      
    </section>
  
    <section class="row container-offer-izq">
        <div class="col-md-6 paquete2">
          
        </div>
        <div class="col-md-6 izq">
            <div class="card" style=" text-align: left; ">
              <p>15 de abril de 2018</p>
              <h2 style="font-style: italic">Los Mejores lugares para visitar en Canarias</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad itaque nulla sint deleniti eum provident porro in odit neque perferendis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, vero? Ducimus facilis totam soluta sequi exercitationem! Facere, iure minima! Tempore veritatis ducimus modi iure doloribus, unde magni dolores non facilis!</p>
              <div class="buttons-cont-izq" style="text-align: left;">
                  <a href="package-detail/1"><i class="fa fa-plus button-plus"></i></a>
                  <i class="fa fa-share"></i>
              </div>
            </div>
          </div>
      
    </section>

    <section class="row container-offer-der">
        <div class="col-md-6 izq">
          <div class="card" style=" text-align: right; ">
            <p>12 de abril de 2018</p>
            <h2 style="font-style: italic">Los Mejores lugares para visitar en Canarias</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad itaque nulla sint deleniti eum provident porro in odit neque perferendis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, vero? Ducimus facilis totam soluta sequi exercitationem! Facere, iure minima! Tempore veritatis ducimus modi iure doloribus, unde magni dolores non facilis!</p>
            <div class="buttons-cont" style="text-align: right;">
                <i class="fa fa-share"></i>
                <a href="package-detail/1"><i class="fa fa-plus button-plus"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-6 paquete3">
          
        </div>
      
    </section>
  
    <section class="row container-offer-izq">
        <div class="col-md-6 paquete4">
          
        </div>
        <div class="col-md-6 izq">
            <div class="card" style=" text-align: left; ">
              <p>10 de abril de 2018</p>
              <h2 style="font-style: italic">Los Mejores lugares para visitar en Canarias</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad itaque nulla sint deleniti eum provident porro in odit neque perferendis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, vero? Ducimus facilis totam soluta sequi exercitationem! Facere, iure minima! Tempore veritatis ducimus modi iure doloribus, unde magni dolores non facilis!</p>
              <div class="buttons-cont-izq" style="text-align: left;">
                  <a href="package-detail/1"><i class="fa fa-plus button-plus"></i></a>
                  <i class="fa fa-share"></i>
              </div>
            </div>
          </div>
      
    </section>

</div>