<app-header-sm></app-header-sm>
<div class="container">
  <div class="title rule">	
    <h5>LUXURY GREEN TRIPS</h5>
    <h2> Paquetes exclusivos TLC</h2> 
  </div>

  <h3>PAQUETES A GRAN CANARIA</h3>
  <h4>/ Lorem ipsum dolor sit amet.</h4>
  <div class="data-container">
    <div class=package-img>
      <div class="img-footer">
        Explora islas canarias / sol de Canarias.
      </div>
    </div>
    <div class="package-desc">
      <div class="price">
       <span>Precio por persona </span><span class="green"> <b>U$S</b> 2850*</span>
      </div>
      <div class="card">
          <span class="card-title">15 dias de Lujo</span>
          <span class="card-hotel">Hotel paraiso XVI</span>
          <span class="card-fecha">salida 25 de Mayo al 10 de junio de 2018</span>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus veniam soluta molestiae dolorem rerum, illum reprehenderit. Sequi blanditiis reiciendis sit at ratione? Veniam ullam, cumque amet eum quis ea, quam alias repellat maiores quisquam beatae accusantium, dicta ipsa repudiandae est! Quaerat</p>
          <input class="btn-send" type="submit" [value]="'package-detail.create-budget' | translate">
        </div>
    </div>
  </div>
  <div class="text">
    <p>"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil temporibus minima ad quidem saepe. Repudiandae ea odio molestias atque nisi nihil explicabo quaerat numquam aliquam, non quam suscipit quasi facere laudantium quo modi neque dolore eos." </p>
  </div>

  <div class="budget">
    <div class="budget-container"> 
    <div class="col-title">
      <div class="col-title-text col-title-left">
        COTIZADOR ONLINE
        <h3>Haz tu Presupuesto</h3>
      </div>
    </div>
    <div class="col-title col-title-middle">
      <div>
          <label for="txtsalida">Salida </label>
          <input type="text" id="txtsalida">
      </div> 
      <div>
      <label for="txtsalida">Hab 01</label>
          <select type="text" id="txtsalida">
            <option value="">doble</option>
          </select>
      </div>
    </div>
    <div class="col-title">
      <div class="col-title-rigth">
       <input class="btn-create-budget" type="submit" value="Crear Presupuesto" >
      </div>
    </div>
    
  </div>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus accusamus facere asperiores corrupti ipsa, aliquid eos fuga molestiae ad fugiat sed quae et velit quidem unde sunt molestias nisi! Quas.</p>
  </div>

</div>
