header{
    width: 100%;
    background-size: cover;
    background-color: rgb(31, 41, 41);
    background-position: center 40%;
    background-repeat: no-repeat;
    background-image: url('../../../../assets/img/header-interno-7.png'); 
}

.bg-sm{
    background:  rgba(31, 41, 41, 0.3);
    display: flex;
    flex-direction: row;
    padding: 0 7%;
    width: 100%;
}


.left-side{
    display: flex;
    justify-content: space-between;
    padding: 2%;
    width: 50%;
}

.right-side{
    display: flex;
    justify-content: flex-end;
    padding: 2%;
    width: 50%;
 }

 .col-container{
     display: flex;
     flex-direction: column;
 }

 .col-container a{
    display: inline;
}

.col-container img{
    margin-right: 10%;
}


ul#search-menu li {
    display:inline;
    padding-right: 15px;
    padding-top: 5px;
}

ul#search-menu li:hover {
    border-top: solid 2px #fff;
}

ul#search-menu li:active {
    color: #6ea12c;
}

ul#search-menu li a {
    color:#fff;
    font-size: 0.8em;
    text-decoration: none;
}

/*****************************************
                BUTTON MENU
*******************************************/
.menu-button {
    display: inline-block;
    cursor: pointer;
    align-self: center;
}

.left-side .menu-button{
    display: none;
}

.menu-button:hover {
    cursor: hand;
}


.bar1, .bar2, .bar3 {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-5px, -5px);
}


/*******************************************
                  CONTACTO
********************************************/

.contact{
    align-self: center;
    padding-right: 10px;
    text-align: right;
}

.contact a {
    margin: 5px;
    color:#fff;
}

.contact .languaje{
    font-size: 0.8em;
    background: transparent;
    color:#fff;
    border: none;
    padding-right:5px; 
}


ul#login-menu li {
    display:inline;
}

ul#login-menu li a {
    color:#fff;
    font-size: 0.8em;
    text-decoration: none;
    text-transform: uppercase;
}

.tel {
    color:#fff;
    font-size: 0.8em;
    padding-right: 5px;
    margin-top: -10px;
}






/*******************************************
                  MEDIA
********************************************/
@media only screen and (max-width: 768px) {
    .left-side {
        width: 100%;
        padding: 2%;
    }

    .right-side{
        display: none;
    }

    .left-side .menu-button{
        display: inline-block;
    }
}


/*******************************************
                  SEARCH BAR
********************************************/
.search-bar{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    padding: 10px 8%;
}

.search-bar select{
    border-radius: 5px;
    height: 30px;
    width: 55%;
}

.search-bar button{
    color: white;
    margin: 15px;
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: bold;
    cursor: hand;
    background-color: transparent;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.search-bar button:hover{
    color: #87bb43;
}


.activity-filters{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 25px;
}

.activity-filter
{
    border: none;
}

.activity-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0px 0px 0px;
}
.activity-image
{
    width: 40%;
    background: url('../../../../assets/img/actividades-01.png') center center;
    background-size: cover; 
}
.activity-description{
    width: 60%;
    padding: 30px;
    background-color: #f2f2f2;
    border: 1px solid #fff;
    display: flex;

}
.activity-data{
    width: 60%;
    border-right: 1px solid black;
}

.activity-data h2{
    padding-left: 10px;
}
.activity-data p{
    margin: 10px;
}

.activity-data p .marca{
    text-align: center;
    width: 15px;
    margin-right: 10px;
}

.activity-price-wrapper{
    width: 40%;
    margin: 20px auto;
    text-align: center;
}

.activity-price-wrapper .activity-price{
    font-size: 1.7em;
}

.activity-pager-wrapper{
    text-align: center;
    margin: 5px;
}

.activity-pager-wrapper .pager-number,
.activity-pager-wrapper .pager-number-active{
    text-align: center;
    margin: 1px;
    /**/
    border-radius: 50%;
  /* remove if you don't care about IE8 */
    width: 15px;
    line-height: 15px;
    border-radius: 50%;
    text-align: center;
    display: inline-table;
    font-size: 0.6em;
    color: white;
}
.activity-pager-wrapper .pager-number{
    background-color: #6ea12c;
}

.activity-pager-wrapper .pager-number-active{
    background-color: #282828;
}

.btn-send{
    text-transform: uppercase;
}