
.frase
{
	width: 40%;
	margin: 30px auto;
	text-align: center;
}

/**************DEALS*************************************************************/


.title{

	width: 100%;
	text-align: center;
	padding-bottom: 50px;
	line-height: 1;
	margin-bottom: 15px;
	margin-top: 50px;
}

.title h5{
  color: #4dcb0b;
  line-height: 0;
  font-size: 12pt;
}

.contenedor-gris{
	background-color: #f3f3f3b3;
	padding: 30px;
}

/*DERECHA*/

.container-offer-der{
	margin: 5px auto;
	bottom: 50px;
	position: relative;
}

.container-offer-der .izq{

	height: 330px;
	justify-content: space-between;
}

.container-offer-der .der{
	background-position: cover;
	background-repeat: no-repeat;
}

.container-offer-der .card{

	position: absolute;
	bottom: 0;
	right: -30px;
	left: 0px;
	text-align: right;
	display: flex;
	justify-content: space-between;
	z-index: 2;
	line-height: 1;
	padding: 40px;
	padding-bottom: 0;

}

.container-offer-der .izq p {

	padding: 5px;
	text-align: right;
	height: 100px;
}


.container-offer-der .izq button{
	 display: inline-block;
	 background-color: #87bb43; 
	 width: 48px;
	 height: 48px;
	 color:#fff;
	 font-weight: bold;
	 font-size: bold;
	 border: none;
}

.container-offer-der .izq i{
	 font-size: x-large;
	 padding: 10px;
}

/*IZQUIERDA*/


.container-offer-izq{
	height: auto;
	margin: 15px auto;
	bottom: 50px;
	position: relative;
}

.container-offer-izq .izq{

	height: 330px;
	justify-content: space-between;
}


.container-offer-izq .card{

	position: absolute;
	bottom: 0;
	left: -30px;
	text-align: left;
	display: flex;
	justify-content: space-between;
	z-index: 2;
	line-height: 1;
	padding: 40px;
	padding-bottom: 0;

}

.container-offer-izq .izq p {

	padding: 5px;
	text-align: left;
	height: 50%;
	height: 100px;
}



.container-offer-izq .izq button{
	 display: inline-block;
	 background-color: #87bb43; 
	 width: 48px;
	 height: 48px;
	 color:#fff;
	 font-weight: bold;
	 font-size: bold;
	 border: none;
}

.container-offer-izq .izq i{
	 font-size: x-large;
	 padding: 10px;
}

.card-title, .card-hotel{
	font-size: 20pt;
	font-weight: normal;
	margin:5px; 
	line-height: 1;
}

.card-fecha{
	font-size: 13px;
	font-weight: bold;
	margin:5px; 
	color: #87bb43;
}


.card .buttons-cont{
	position: relative;
	right: -40px;
}

.card .buttons-cont-izq{
	position: relative;
	left: -40px;
}


.button-plus{
	background-color: #87bb43;
	color:#fff;

}

/****************************METODOS DE PAGO**********************************/
#medios_de_pago{
    width: 100%;
}

#medios_de_pago .title{
	margin-bottom: 0;
 }


#medios_de_pago .title  span{
	font-weight: bold;
	font-size: 8pt;
 }

#medios_de_pago img{
    vertical-align: middle;
    border-style: none;
    margin: 5px auto;
    margin-top: -30px;
}

.rule::before{
 content: "";
 position: absolute;
 width: 6%;
 height: 60px;
 border-bottom: 3px solid #87bb43;
 left: 47%;
}



/*******************************************DETALLE*****************************/

.detalle-paquete{
	width: 100%;
	height: 300px;
	background-color: #87bb43;
	color:#fff;
	margin: 20px;
	-webkit-border-top-right-radius: 50px;
	-webkit-border-bottom-left-radius: 50px;
	-moz-border-radius-topright: 50px;
	-moz-border-radius-bottomleft: 50px;
	border-top-right-radius: 50px;
	border-bottom-left-radius: 50px;

}


.paquete1{
	background:url('../../assets/img/paquete-1.png') center center;
	background-position: cover;
	background-repeat: no-repeat;
}
.paquete2{
	background:url('../../assets/img/paquete-2.png') center center;
	background-position: cover;
	background-repeat: no-repeat;
}
.paquete3{
	background:url('../../assets/img/paquete-3.png') center center;
	background-position: cover;
	background-repeat: no-repeat;
}
.paquete4{
	background:url('../../assets/img/paquete-4.png') center center;
	background-position: cover;
	background-repeat: no-repeat;
}


/****************************MOMENTOS******************************************/


#momentos hr{
	color: #87bb43;
}

#momentos .carousel-wrap{
	margin: 0 auto;
}

#momentos .owl-carousel .item{
	position: relative;
}
#momentos .owl-carousel .item img{
	width: 340px;
	height: 275px;
	object-fit: cover;
	overflow: hidden;
}
#momentos .owl-carousel .item .item-text{
	position: absolute;
	top: 25%;
	margin: 0 auto;
    color: white;
    width: 95%;
    text-align: center;
}

#momentos .owl-carousel .item .item-text h3{
	font-size: small;
	font-weight: bold;
}

#momentos .owl-carousel .item .item-text p,
#momentos .owl-carousel .item .item-text a{
	font-size: smaller;
	font-style: italic;
	color: white;
}