<div class="container">
  <router-outlet></router-outlet>
  <div class="title rule">	
      <h5>LUXURY GREEN TRIPS</h5>
      <h2> Nuestros paquetes promocionales</h2> 
  </div>
    <div class="contenedor-gris">
    <section class="row container-offer-der">
        <div class="col-md-6 izq">
          <div class="card">
            <span class="card-title">15 dias de Lujo</span>
            <span class="card-hotel">Hotel paraiso XVI</span>
            <span class="card-fecha">salida 25 de Mayo al 10 de junio de 2018</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad itaque nulla sint deleniti eum provident porro in odit neque perferendis.</p>
            <div class="buttons-cont">
              <i class="fa fa-share"></i>
              <i class="fa fa-thumbtack" aria-hidden="true"></i>
              <a href="package-detail/1"><i class="fa fa-plus button-plus"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-6 paquete1">
          
        </div>
      
    </section>
  
    <section class="row container-offer-izq">
        <div class="col-md-6 paquete2">
          
        </div>
        <div class="col-md-6 izq">
          <div class="card">
            <span class="card-title">15 dias de Lujo</span>
            <span class="card-hotel">Hotel paraiso XVI</span>
            <span class="card-fecha">salida 25 de Mayo al 10 de junio de 2018</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad itaque nulla sint deleniti eum provident porro in odit neque perferendis.</p>
            <div class="buttons-cont-izq">
              <a href="package-detail/1"><i class="fa fa-plus button-plus"></i></a>
              <i class="fa fa-share"></i>
              <i class="fa fa-thumbtack" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      
    </section>

    <section class="row container-offer-der ">
        <div class="col-md-6 izq">
          <div class="card">
            <span class="card-title">15 dias de Lujo</span>
            <span class="card-hotel">Hotel paraiso XVI</span>
            <span class="card-fecha">salida 25 de Mayo al 10 de junio de 2018</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad itaque nulla sint deleniti eum provident porro in odit neque perferendis.</p>
            <div class="buttons-cont">
              <i class="fa fa-share"></i>
              <i class="fa fa-thumbtack" aria-hidden="true"></i>
              <a href="package-detail/1"><i class="fa fa-plus button-plus"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-6  paquete3">
          
        </div>
      
    </section>
  
    <section class="row container-offer-izq">
        <div class="col-md-6 paquete4">
          
        </div>
        <div class="col-md-6 izq">
          <div class="card">
            <span class="card-title">15 dias de Lujo</span>
            <span class="card-hotel">Hotel paraiso XVI</span>
            <span class="card-fecha">salida 25 de Mayo al 10 de junio de 2018</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad itaque nulla sint deleniti eum provident porro in odit neque perferendis.</p>
            <div class="buttons-cont-izq">
              <a href="package-detail/1"><i class="fa fa-plus button-plus"></i></a>
              <i class="fa fa-share"></i>
              <i class="fa fa-thumbtack" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      
    </section>

  <section id="medios_de_pago" class="row">
    <div class="title">	
      <span> MÉTODOS DE PAGO</span> 
    </div>
    <img src="../../assets/img/formas de pago.png" alt="" class="img-fluid">
  </section>


  <section id="momentos">
    <div class="title rule">	
    <h5>LUXURY GREEN TRIPS</h5>
    <h2>Momentos T.L.Choice</h2> 
</div>
<div class="carousel-wrap">
  <div class="owl-carousel owl-theme">
    <div class="item">
      <img src="../../assets/img/momentos-1.png" class="thumb">
      <div class="item-text">
        <h3>BEN HOFFMANN</h3>
        <p><span>&ldquo;</span><span>Suspendisse faucibus nec elit nec dapibus. Mauris nisl arcu, volutpat ut lacus sit amet, porttitor.</span><span>&rdquo;</span></p>
        <a href="">Ver video</a><span>|</span><a href="">Ver fotos</a>
      </div>
      
    </div>
    <div class="item">
      <img src="../../assets/img/momentos-2.png" class="thumb">
      <div class="item-text">
        <h3>JULIA HENDRIX</h3>
        <p><span>&ldquo;</span><span>Suspendisse faucibus nec elit nec dapibus. Mauris nisl arcu, volutpat ut lacus sit amet, porttitor.</span><span>&rdquo;</span></p>
        <a href="">Ver video</a><span>|</span><a href="">Ver fotos</a>
      </div>
    </div>
    <div class="item">
      <img src="../../assets/img/momentos-3.png" class="thumb">
      <div class="item-text">
        <h3>JULIA HENDRIX</h3>
        <p><span>&ldquo;</span><span>Suspendisse faucibus nec elit nec dapibus. Mauris nisl arcu, volutpat ut lacus sit amet, porttitor.</span><span>&rdquo;</span></p>
        <a href="">Ver video</a><span>|</span><a href="">Ver fotos</a>
      </div>
    </div>
    <div class="item">
      <img src="https://picsum.photos/320?image=941" class="thumb">
      <div class="item-text">
        <h3>JULIA HENDRIX</h3>
        <p><span>&ldquo;</span><span>Suspendisse faucibus nec elit nec dapibus. Mauris nisl arcu, volutpat ut lacus sit amet, porttitor.</span><span>&rdquo;</span></p>
        <a href="">Ver video</a><span>|</span><a href="">Ver fotos</a>
      </div>
    </div>
    <div class="item">
      <img src="https://picsum.photos/320?image=941" class="thumb">
      <div class="item-text">
        <h3>JULIA HENDRIX</h3>
        <p><span>&ldquo;</span><span>Suspendisse faucibus nec elit nec dapibus. Mauris nisl arcu, volutpat ut lacus sit amet, porttitor.</span><span>&rdquo;</span></p>
        <a href="">Ver video</a><span>|</span><a href="">Ver fotos</a>
      </div>
    </div>
    <div class="item">
      <img src="https://picsum.photos/320?image=941" class="thumb">
      <div class="item-text">
        <h3>JULIA HENDRIX</h3>
        <p><span>&ldquo;</span><span>Suspendisse faucibus nec elit nec dapibus. Mauris nisl arcu, volutpat ut lacus sit amet, porttitor.</span><span>&rdquo;</span></p>
        <a href="">Ver video</a><span>|</span><a href="">Ver fotos</a>
      </div>
    </div>
    <div class="item">
      <img src="https://picsum.photos/320?image=941" class="thumb">
      <div class="item-text">
        <h3>JULIA HENDRIX</h3>
        <p><span>&ldquo;</span><span>Suspendisse faucibus nec elit nec dapibus. Mauris nisl arcu, volutpat ut lacus sit amet, porttitor.</span><span>&rdquo;</span></p>
        <a href="">Ver video</a><span>|</span><a href="">Ver fotos</a>
      </div>
    </div>
    <div class="item">
      <img src="https://picsum.photos/320?image=941" class="thumb">
      <div class="item-text">
        <h3>JULIA HENDRIX</h3>
        <p><span>&ldquo;</span><span>Suspendisse faucibus nec elit nec dapibus. Mauris nisl arcu, volutpat ut lacus sit amet, porttitor.</span><span>&rdquo;</span></p>
        <a href="">Ver video</a><span>|</span><a href="">Ver fotos</a>
      </div>
    </div>
    <div class="item">
      <img src="https://picsum.photos/320?image=941" class="thumb">
      <div class="item-text">
        <h3>JULIA HENDRIX</h3>
        <p><span>&ldquo;</span><span>Suspendisse faucibus nec elit nec dapibus. Mauris nisl arcu, volutpat ut lacus sit amet, porttitor.</span><span>&rdquo;</span></p>
        <a href="">Ver video</a><span>|</span><a href="">Ver fotos</a>
      </div>
    </div>
    <div class="item">
      <img src="https://picsum.photos/320?image=941" class="thumb">
      <div class="item-text">
        <h3>JULIA HENDRIX</h3>
        <p><span>&ldquo;</span><span>Suspendisse faucibus nec elit nec dapibus. Mauris nisl arcu, volutpat ut lacus sit amet, porttitor.</span><span>&rdquo;</span></p>
        <a href="">Ver video</a><span>|</span><a href="">Ver fotos</a>
      </div>
    </div>
  </div>
</div>
</section>

  </div>

  <footer>
     <div class="footer">
      
     </div> 


  </footer>
</div>