.data-container{
    display: flex;
    flex-direction: row;
    height: 30em;
    padding: 15px;
}
.package-img{
    width: 60%;
    background: url("../../../../assets/img/hotel-detalle.jpg") center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.package-desc {
    width: 40%;
    background-color: #f3f3f3b3;
    padding: 10px;
}

.price {
    margin-left: 45%;
    margin-top:20px;
}
.green{
    color: #87bb43;
}

.card-title, .card-hotel{
	font-size: 20pt;
	font-weight: normal;
	margin:5px; 
	line-height: 1;
}

.card-fecha{
	font-size: 13px;
	font-weight: bold;
	margin:5px; 
	color: #87bb43;
}

.card{
    padding: 15px;
    background-color: transparent;
    border: none;
    padding-right: 20%;
}

.card p{
    font-style: italic;
}

.img-footer{
    color: #fff;
    background: rgba(0,0,0,0.7);
    padding: 10px;
    align-self: flex-end;
    width: 100%;
    font-style: italic;
    text-align: center;
}

.package-img{
  display: flex;
}

.text{
    text-align: center;
    margin: 20px;
}

.budget{
    padding: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 0 50px 0 50px;
    background-color: #87bb43;
    height: 16em;
    justify-content: space-around;
    color: #fff;
    text-align: center;
}

.budget p{
 font-size: 0.8em;
 padding-right:10%;
 padding-left:10%;
 align-self: baseline; 
}

.budget-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.col-title{
    width: 33%;
    color: #fff;
    align-items: center;
    display: flex;
}

.col-title-text {
    padding: 30px;
    width: 100%;
    text-align: center;
    border-right: 4px solid #fff;
}

.btn-create-budget{
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    color: #87bb43;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
}

.col-title-rigth{
    border-left: 4px solid #fff;
    padding: 20px;
}


#txtsalida{
    border: none;
    padding: 6px;
    width: 200px;
    height: 30px;
    
}

.col-title-middle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;
}

.col-title-middle div{
    margin: 5px;
}

.col-title-middle div select{
    width: 60px;
}