<div class="container">
<app-header-sm>
  
</app-header-sm>
<section id="about-us" class="about-us container">
    <div class="title rule">	
				<h5>LUXURY GREEN TRIPS</h5>
				<h2> Quienes Somos</h2> 
    </div>
    
    <p class="green-text italic">
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit aliquid necessitatibus sint maiores corporis alias laudantium molestias nam praesentium consequatur, recusandae ea itaque provident dolore quo odit optio! Pariatur, necessitatibus?"
    </p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis fugiat corporis libero impedit neque aspernatur! Accusamus, nam, autem reiciendis modi, possimus iure itaque architecto explicabo eaque repudiandae nemo optio amet deserunt qui? Facere magni temporibus inventore! Odit aspernatur perspiciatis, quos ipsa ex, nobis nihil illo recusandae doloribus, pariatur vel aliquid.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id eum, ducimus temporibus dicta adipisci et aut ab cumque blanditiis neque labore! Qui, consectetur tempora saepe molestias provident dolorum sapiente fuga?</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui atque voluptates fuga culpa. Quisquam perferendis consequatur eaque, cumque obcaecati nulla, officiis, incidunt quo earum ratione sed reiciendis! Beatae minima doloremque, sed quas dolor tempora nesciunt vero corrupti inventore similique eaque, hic, maiores veritatis aut? Vitae.</p>
</section>
<section name="partners"  id="partners" class="partners" >
  <div class="title rule">	
    <h5>Hoteles & resorts</h5>
    <h2>Nuestros partners</h2> 
  </div>

  <div class="partner-container">
      <div class="polaroid">
        <img class="img-fluid" src="https://placeimg.com/300/400/arch" alt="">
        <div class="text">
          <p>The Troll's tongue in Hardanger, Norway</p>
        </div>
      </div>
      
      <div class="polaroid">
        <img class="img-fluid" src="https://placeimg.com/300/400/arch" alt="">
        <div class="text">
          <p>The Troll's tongue in Hardanger, Norway</p>
        </div>
      </div>
      
      <div class="polaroid">
        <img class="img-fluid" src="https://placeimg.com/300/400/arch" alt="">
        <div class="text">
          <p>The Troll's tongue in Hardanger, Norway</p>
        </div>
      </div>
      
    </div>
  
</section>
<app-footer-sm></app-footer-sm>
